# Carpetas de Python (Basura técnica)
__pycache__/
*.pyc
venv/
.env

# Archivos de sistema
.DS_Store
Thumbs.db

# Opcional: Si quieres que el software en la nube empiece vacío, 
# descomenta la siguiente línea poniendo el símbolo # atrás:
# registros.json